$primary-bgcolor: rgb(10,10,40);
$secondary-bgcolor: rgb(20, 20, 70);
$primary-font-color: rgb(100, 160, 230);
$secondary-font-color: rgb(200, 200, 200);
$info-font-color: darkslategray;
$primary-font-family: 'Titillium Web', sans-serif;
$secondary-font-family: 'Slabo 27px', serif;
 