#page-hint {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    .down {
        border: solid $primary-font-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
#slide-hint {
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    .left {
        border: solid $secondary-bgcolor;
        left: 1vw;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .right {
        border: solid $secondary-bgcolor;
        right: 1vw;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}