@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import "helpers/variables";
@import "helpers/mixins";
@import "partials/social"; 
@import "partials/homecontent"; 
@import "partials/hint";
@import "partials/fullpage";

.page {
    width: 100%;
    height: 100vh;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,$primary-bgcolor , $secondary-bgcolor); 
}

#projects {
    width: 100%;
    height: 100vh; 
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, $primary-font-color , $secondary-font-color); 
}

#skills {
    width: 100%;
    height: 100vh; 
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, $primary-font-color , $secondary-font-color); 
}


// This is a Placeholder for when a section of this page is incomplete.
// #in-Progress{
//     width: 100%;
//     height: 6vh;
//     background-color: rgb(100, 160, 230);
//     font-family: $primary-font-family;
//     text-align: center;
//     justify-content: center;
// }

