@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import "helpers/variables";
@import "helpers/mixins";
@import "partials/social";
@import "partials/bio";
@import "partials/content";
@import "partials/hint";

#main {
    width: 100%;
    height: 100vh;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right,$primary-bgcolor , $secondary-bgcolor); 
}
// This is a Placeholder for when a section of this page is incomplete.
// #in-Progress{
//     width: 100%;
//     height: 6vh;
//     background-color: rgb(100, 160, 230);
//     font-family: $primary-font-family;
//     text-align: center;
//     justify-content: center;
// }

